@using Monster.Middle.Hangfire
@using Monster.Web.Plumbing
@model Monster.Web.Models.Config.Preferences


<style>
    .form-group label {
        font-weight: 700;
    }
</style>

@Html.Partial("_TopBrand")

<hr />

<h1 class="mt-5 center">Configuration - Acumatica</h1>
<p class="lead center">Manage your Acumatica Credentials and Pull Config Settings</p>

<p>
    The next step will require you to configure Acumatica so that
    @GlobalConfig.AppName can properly push Shopify data during
    real-time synchronization. This will involve creating
    Item Classes, Tax Categories, etc.
</p>

<p>
    Download the following PDF document and execute all of the steps contained
    therein to prepare your Acumatica instance for synchronization.
</p>

<div class="card">
    <div class="card-body center">
        <a target="_blank"
           href="@GlobalConfig.Url("Content/Ulysses-AcumaticaConfiguration.pdf")">
            <img style="width: 125px;" src="@GlobalConfig.Url("Content/pdf-icon.png")"/>
        </a>
        <p class="center" style="font-weight: 700;">
            Download - Configuring Acumatica for Ulysses Synchronization
        </p>
    </div>
</div>


<div data-bind="if: StatusVisible">
    <div class="center std-padding">
        <a href="@GlobalConfig.Url("ShopifyAuth/Domain")"
           class="btn btn-secondary btn-lg">
            Previous Step <i class="fas fa-undo"></i>
        </a>
        
        <a href="@GlobalConfig.Url("Config/AcumaticaConnection")"
           class="btn btn-success btn-lg">
            Next Step <i class="fas fa-sign-in-alt"></i>
        </a>
    </div>
</div>

