@using Monster.Web.Plumbing

@Html.Partial("_TopBrand")

<hr/>
<h1 class="mt-4 center">Configuration - Complete</h1>
<p class="lead center">Basic system setup is now completed</p>

<div class="medium-size">
    <div class="card std-pad-sm">
        <div class="card-body">                    
            <p>Congratulations! You have just completed setting your configuration for @GlobalConfig.AppName.
                At any time you can use <a href="@GlobalConfig.Url("/Config/Diagnostics")">Config Diagnostics</a>
                to check your config status.
            </p>

            <p>
                The next step is to prepare your inventory for synchronization. @GlobalConfig.AppName allows you 
                to load inventory from <a href="@GlobalConfig.Url("/Sync/ImportIntoAcumatica")">Shopify into Acumatica</a>,
                and also from <a href="@GlobalConfig.Url("/Sync/ImportIntoShopify")">Acumatica into Shopify</a>.                        
            </p>

            <div class="center std-pad-t">
                <a href="@GlobalConfig.Url("/Sync/ImportIntoAcumatica")" style="min-width:225px" class="btn btn-primary btn">
                    Import into Acumatica <i class="fa fa-upload" aria-hidden="true"></i>
                </a>
                <a href="@GlobalConfig.Url("/Sync/ImportIntoShopify")" style="min-width:225px" class="btn btn-primary btn">
                    Import into Shopify <i class="fa fa-upload" aria-hidden="true"></i>
                </a>
            </div>
        </div>            
    </div>
</div>


