@using Monster.Web.Plumbing

@Html.Partial("_SharedKnockoutViews")

@Html.Partial("_TopBrand")

<div class="medium-size">
    <div data-bind="ifnot: IsJobRunning">
        <div data-bind="if: AcumaticaInventoryPushState() == SystemState.None">
            <div data-bind="template: { name: 'Inventory-Config-Wizard-Title' }"></div>

            <div class="card">
                <div class="card-body std-padding">                            
                    <p>
                        @GlobalConfig.AppName will now pull your complete catalog of Products and Variants from Shopify,
                        and will pull all of your Stock Items from your Acumatica Instance.
                    </p>
                    <div class="alert alert-warning">
                        <strong>Important:</strong> Real-Time Sync will perform this step as well.
                        But, you will still need to load Stock Items into Shopify
                        and select which to enable for Inventory Synchronization.
                    </div>
                </div>
            </div>

            <div class="center std-padding">
                <a href="#" class="btn btn-primary btn-lg" 
                   data-bind="click: PushInventoryToAcumaticaClick">
                    Synchronize Now <i class="fas fa-bolt"></i>
                </a>
            </div>
        </div>

        <div data-bind="if: AcumaticaInventoryPushState() == SystemState.SystemFault">
            <div data-bind="template: { name: 'Inventory-Config-Wizard-Title' }"></div>
            
            <div class="card">
                <div class="card-body std-padding-bottom">
                    <div class="alert alert-danger">
                        <strong>Load Inventory into Acumatica - System Fault</strong>
                    </div>
                    <p>
                        Something went wrong while running this process.
                        You may consider reviewing your configuration before
                        re-running. If issue persists, contact support.
                    </p>
                </div>
            </div>
            
            <div class="center std-padding">
                <a href="#" 
                   class="btn btn-primary btn-lg" 
                   data-bind="click: PushInventoryToAcumaticaClick">
                    Synchronize Now <i class="fas fa-bolt"></i>
                </a>
            </div>
        </div>

        <div data-bind="if: AcumaticaInventoryPushState() == SystemState.Ok">
            <div class="card">
                <div class="card-body">
                    <div class="alert alert-info">
                        <strong>Load Inventory into Acumatica - OK</strong>
                    </div>

                    <p>
                        This process has successfully completed. You can re-run
                        it at anytime to ensure that all of your Shopify products
                        and variants are loaded into Acumatica.
                    </p>
                </div>
            </div>

        </div>
    </div>

    <div data-bind="if: IsJobRunning">
        <div class="card std-padding-sm">
            <div class="card-title-interface">
               Inventory Sync Control
            </div>

            <div class="card-body center">
                <div class="std-padding-sm">
                    <img style="width: 100px;" src="@GlobalConfig.Url("Content/throbber_12.gif")"/>
                </div>

                <p class="center">
                    @GlobalConfig.AppName is currently busy processing your inventory.<br/>
                    Depending on the size of your catalog, this process may take up to several hours.
                </p>

                <hr/>

                <div data-bind="template: { name: 'Execution-Logs', data: Logs() } "></div>
            </div>
        </div>
    </div>
</div>

<script id="Inventory-Config-Wizard-Title" type="text/html">
    <hr/>
    <h1 class="mt-4 center">Inventory Sync Control</h1>
    <p class="lead center">Pull from Shopify and Acumatica to prepare for loading</p>
</script>

<script>
    var Monster = Monster || {};

    Monster.InventoryConfigModel = function () {
        var self = this;

        self.IsJobRunning = ko.observable();
        self.IsRandomAccessMode = ko.observable();
        self.AcumaticaInventoryPushState = ko.observable();
        self.Logs = ko.observableArray();

        self.PushInventoryToAcumaticaClick = function () {
            var ajax = new Monster.Ajax();
            ajax.HttpPost("Config/PushInventoryToAcumatica", {}, self.PollStatus);
        };

        self.PollStatus = function () {
            flow.exec(
                function () {
                    var ajax = new Monster.Ajax();
                    ajax.DisablePopupsAndSpinners();
                    ajax.HttpGet("Config/AcumaticaInventoryPushStatus", this);
                },
                function (response) {
                    //console.log(response);

                    self.IsJobRunning(response.IsBackgroundJobRunning);
                    self.AcumaticaInventoryPushState(response.SystemState);
                    self.IsRandomAccessMode(response.IsRandomAccessMode);
                    self.Logs(response.Logs);

                    if (self.IsJobRunning()) {
                        setTimeout(self.PollStatus, 1000);
                    }
                });
        };

        self.Initialize = function () {
            self.PollStatus();
        };

        return self;
    };

    var model = new Monster.InventoryConfigModel();
    model.Initialize();
    ko.applyBindings(model);
</script>

