@using Monster.Web.Plumbing

<main role="main" class="medium-size">
    @Html.Partial("_TopBrand")

    <hr />
    <h1 class="mt-5 center">Configuration - Preferences</h1>
    <p class="lead center">
        Choose settings to enable @GlobalConfig.AppName to properly synchronize
    </p>

    <style>
        .form-group label {
            font-weight: 700;
        }
    </style>

    <div data-bind="ifnot: IsRandomAccessMode">
        <p>
            The next step in configuration is to set your Preferences.
            When @GlobalConfig.AppName is running in Real-Time Sync Mode, it
            will produce a large volume of work. It is critical that you make
            sure your Preferences match your business objectives.
        </p>
    </div>

    <div data-bind="template: { name: 'Preferences-Editor', afterRender: InitializePreferencesEditor }">
    </div>
</main>


<script type="text/html" id="Preferences-Editor">
    <style>
        #preferences .form-group {
            height: 120px;
        }
    </style>

    <div data-bind="if: ShowRefDataErrorMessage">
        <div class="std-padding">
            <div class="alert alert-danger">
                <strong>Acumatica Reference Data Pull - Broken</strong>
                <br />
                There's something wrong with your Acumatica reference data.
            </div>

            <p>
                Before setting preferences, your Acumatica reference data
                needs to be properly configured.
                You can address that now by
                <a href="@GlobalConfig.Url("Config/AcumaticaRefData")"><strong>clicking here</strong></a>.
            </p>
        </div>
    </div>

    <div data-bind="if: ShowDataEntry">
        <div class="card text-center">
            <div id="preferences" class="card-body left">

                <!-- Starting Date for Orders -->
                <div class="form-group">
                    <label for="datepicker">Starting Date for Shopify Orders</label>

                    <input id="datepicker"
                           type="text"
                           class="form-control"
                           placeholder="Choose..."
                           data-bind="value: SelectedStartingDate" />

                    <small id="datepickerHelp" class="form-text text-muted">
                        @GlobalConfig.AppName will only load Shopify Orders
                        that are created on or after this date into Acumatica.
                    </small>

                </div>

                <div class="form-group">
                    <label for="orderNumber">
                        Starting Shopify Order Number
                        <span style="font-weight:400;">(OPTIONAL)</span>
                    </label>

                    <input id="orderNumber"
                           class="form-control"
                           placeholder="Enter a Shopify Order Number..."
                           maxlength="12"
                           data-bind="value: ShopifyOrderNumberStart,
                                    event: { blur: ShopifyOrderNumberStartBlur }" />

                    <small id="orderNumberHelp" class="form-text text-muted">
                        @GlobalConfig.AppName will only load Shopify Orders
                        with an Order Number equal to or greater than this.
                    </small>
                </div>

                <!-- Time Zone -->
                <div class="form-group">
                    <label for="timeZone">Acumatica Instance Time Zone</label>

                    <select id="timeZone" class="form-control"
                            data-bind="value: SelectedTimeZone,
                                    options: TimeZones,
                                    optionsText: 'Name',
                                    value: SelectedTimeZone,
                                    optionsCaption: 'Choose...'"></select>

                    <small id="timeZoneHelp" class="form-text text-muted">
                        In order to synchronize properly, @GlobalConfig.AppName
                        needs to translate between time zones properly
                    </small>

                    <div class="error-message"
                         data-bind="if: ShowValidation() && !TimeZoneValid()">
                        Please select the right Time Zone for your Acumatica Instance
                    </div>
                </div>

                <!-- Item Class -->
                <div class="form-group">
                    <label for="itemClass">Acumatica Default Item Class</label>

                    <select class="form-control"
                            id="itemClass"
                            data-bind="optionsCaption: 'Choose...',
                                    value: SelectedItemClass,
                                    options: ItemClasses,
                                    optionsText: 'ItemClass'"></select>

                    <small id="itemClassHelp" class="form-text text-muted">
                        @GlobalConfig.AppName will use this selection
                        when it creates Stock Items from Shopify Products
                    </small>

                    <div class="error-message"
                         data-bind="if: ShowValidation() && !ItemClassValid()">
                        Please select an Item Class with a valid Posting Class and Default Warehouse
                    </div>
                </div>

                <!-- Posting Class -->
                <div class="form-group">
                    <label for="postingClass">Acumatica Default Posting Class</label>

                    <div data-bind="ifnot: SelectedPostingClass">
                        <input type="text"
                               id="postingClass"
                               class="form-control"
                               disabled="disabled"
                               value="(Select an Item Class that has a Posting Class)" />
                    </div>

                    <div data-bind="if: SelectedPostingClass">
                        <input type="text"
                               id="postingClass"
                               class="form-control"
                               disabled="disabled"
                               data-bind="value: SelectedPostingClass" />
                    </div>

                    <small id="postingClassHelp" class="form-text text-muted">
                        @GlobalConfig.AppName will use this selection
                        when it creates Stock Items from Shopify Products
                    </small>
                </div>

                <!-- Payment Method -->
                <div class="form-group">
                    <label for="paymentMethod">Acumatica Payment Method</label>

                    <select class="form-control"
                            id="paymentMethod"
                            data-bind="optionsCaption: 'Choose...',
                                        options: PaymentMethods,
                                        optionsText: 'PaymentMethod',
                                        value: SelectedPaymentMethod"></select>

                    <small id="paymentMethodHelp" class="form-text text-muted">
                        @GlobalConfig.AppName will use this selection
                        when it creates Payments in Acumatica.
                    </small>

                    <div class="error-message"
                         data-bind="if: ShowValidation() && !PaymentMethodValid()">
                        Please select a Payment Method with a valid Cash Account
                    </div>
                </div>

                <!-- Payment Cash Account -->
                <div class="form-group">
                    <label for="cashAccountMethod">Acumatica Payment Cash Account</label>

                    <div data-bind="if: CashAccounts().length == 0">
                        <input type="text"
                               class="form-control"
                               disabled="disabled"
                               value="(Select a Payment Method that has a Cash Account)" />
                    </div>

                    <div data-bind="if: CashAccounts().length">
                        <select class="form-control"
                                id="cashAccountMethod"
                                data-bind="options: CashAccounts,
                                                value: SelectedCashAccount"></select>
                    </div>

                    <small id="cashAccountMethodHelp" class="form-text text-muted">
                        @GlobalConfig.AppName will use this selection
                        when it creates Payments in Acumatica.
                    </small>
                </div>

                <!-- Tax Zone -->
                <div class="form-group">
                    <label for="taxZone">Acumatica Tax Zone</label>

                    <select class="form-control" id="taxZone"
                            data-bind="optionsCaption: 'Choose...',
                                        value: SelectedTaxZone,
                                        options: TaxZones"></select>

                    <small id="taxZoneHelp"
                           class="form-text text-muted">
                        @GlobalConfig.AppName uses this selection for sales tax
                        in Sales Orders and Credit Memos.
                    </small>

                    <div class="error-message"
                         data-bind="if: ShowValidation() && !SelectedTaxZone()">
                        Please select a Tax Zone
                    </div>
                </div>

                <!-- Tax Category -->
                <div class="form-group">
                    <label for="taxCategory">Acumatica Tax Category</label>

                    <select class="form-control" id="taxCategory"
                            data-bind="optionsCaption: 'Choose...',
                                        value: SelectedTaxCategory,
                                        options: TaxCategories"></select>

                    <small id="taxCategoryHelp"
                           class="form-text text-muted">
                        @GlobalConfig.AppName uses this selection for sales tax
                        in Sales Orders and Credit Memos.
                    </small>

                    <div class="error-message"
                         data-bind="if: ShowValidation() && !SelectedTaxCategory()">
                        Please select a Tax Category
                    </div>
                </div>

                <!-- Tax ID -->
                <div class="form-group">
                    <label for="taxId">Acumatica Tax ID</label>

                    <select class="form-control" id="taxId"
                            data-bind="optionsCaption: 'Choose...',
                                        value: SelectedTaxId,
                                        options: TaxIds"></select>

                    <small id="taxIdHelp"
                           class="form-text text-muted">
                        @GlobalConfig.AppName uses this selection for sales tax
                        in Sales Orders and Credit Memos.
                    </small>

                    <div class="error-message"
                         data-bind="if: ShowValidation() && !SelectedTaxId()">
                        Please select a Tax ID
                    </div>
                </div>
            </div>

            <div class="card-footer text-muted">
                @GlobalConfig.AppName Preferences Editor
            </div>
        </div>

        <div style="height:45px;"
             data-bind="if: ShowErrorSummary" class="center error-message">
            One or more items are not valid. Please review and correct.
        </div>
    </div>

    <div class="std-padding-bottom center">
        <div data-bind="ifnot: IsRandomAccessMode">
            <a href="@GlobalConfig.Url("Config/AcumaticaRefData")"
               class="btn btn-secondary btn-lg">
                <i class="fas fa-undo"></i> Previous Step
            </a>

            <a href="#" data-bind="click: GotoNextStepClick"
               class="btn btn-success btn-lg">
                Next Step <i class="fas fa-sign-in-alt"></i>
            </a>
        </div>

        <div data-bind="if: IsRandomAccessMode">
            <a href="@GlobalConfig.DiagnosticsHome"
               class="btn btn-secondary btn-lg">
                Back to Diagnostics <i class="fas fa-undo"></i>
            </a>

            <a href="#" class="btn btn-primary btn-lg"
               data-bind="click: SaveChangesClick">
                Save Changes <i class="fas fa-bolt"></i>
            </a>
        </div>
    </div>
</script>

<script>
    var Monster = Monster || {};

    Monster.PreferencesModel = function () {
        var self = this;

        self.ShowRefDataErrorMessage = ko.observable(false);
        self.ShowDataEntry = ko.observable(false);
        self.IsRandomAccessMode = ko.observable();

        // Reference data
        self.TimeZones = ko.observableArray();
        self.ItemClasses = ko.observableArray();
        self.PaymentMethods = ko.observableArray();
        self.TaxIds = ko.observableArray();
        self.TaxCategories = ko.observableArray();
        self.TaxZones = ko.observableArray();
        self.CashAccounts = ko.observableArray(); // Updates when SelectedPaymentMethod changes

        // Selected options
        self.SelectedTimeZone = ko.observable();
        self.SelectedStartingDate = ko.observable();
        self.ShopifyOrderNumberStart = ko.observable();

        self.ShopifyOrderNumberStartBlur = function () {
            if (Number.isInteger(parseInt(self.ShopifyOrderNumberStart()))) {
                self.ShopifyOrderNumberStart(parseInt(self.ShopifyOrderNumberStart()));
            } else {
                self.ShopifyOrderNumberStart(null);
            }
        };

        self.ShopifyOrderNumberStart.subscribe(function () {
            self.ShopifyOrderNumberStartBlur();
        });

        self.SelectedItemClass = ko.observable();
        self.SelectedPaymentMethod = ko.observable();
        self.SelectedCashAccount = ko.observable();
        self.SelectedTaxId = ko.observable();
        self.SelectedTaxCategory = ko.observable();
        self.SelectedTaxZone = ko.observable();

        self.SelectedPostingClass = ko.computed(function() {
            return self.SelectedItemClass()
                    ? self.SelectedItemClass().PostingClass : null;
        });

        self.SelectedPaymentMethod.subscribe(function () {
            if (self.SelectedPaymentMethod()) {
                self.CashAccounts(self.SelectedPaymentMethod().CashAccounts);
                if (!self.CashAccounts().length) {
                    self.SelectedCashAccount(null);
                }
            } else {
                self.CashAccounts.removeAll();
            }
        });

        // Validation

        self.StartingDateValid = ko.computed(function() {
            return Monster.IsDate(self.SelectedStartingDate());
        });

        self.TimeZoneValid = ko.computed(function () {
            return self.SelectedTimeZone();
        });

        self.ItemClassValid = ko.computed(function () {
            return self.SelectedItemClass() && self.SelectedPostingClass();
        });

        self.PaymentMethodValid = ko.computed(function () {
            return self.SelectedPaymentMethod() && self.SelectedCashAccount();
        });

        self.IsValid = ko.computed(function() {
            return self.StartingDateValid()
                && self.TimeZoneValid()
                && self.ItemClassValid()
                && self.PaymentMethodValid()
                && self.SelectedTaxId()
                && self.SelectedTaxCategory()
                && self.SelectedTaxZone();
        });

        self.ShowValidation = ko.observable(false);

        self.ShowErrorSummary = ko.computed(function () {
            return self.ShowValidation() && !self.IsValid();
        });


        // Initialization stuff
        self.InitializePreferencesEditor = function() {
            $('#datepicker').datepicker({
                uiLibrary: 'bootstrap4'
            });
        };

        self.Initialize = function () {
            flow.exec(
                function() {
                    var ajax = new Monster.Ajax();
                    ajax.HttpGet("Config/AcumaticaRefDataStatus", this);
                },
                function (response) {
                    self.IsRandomAccessMode(response.IsRandomAccessMode);

                    if (response.IsBroken) {
                        self.ShowRefDataErrorMessage(true);
                        return;
                    }

                    var ajax = new Monster.Ajax();
                    ajax.HttpGet("Config/AcumaticaReferenceData", this);
                },
                function (response) {
                    self.TimeZones(response.TimeZones);
                    self.ItemClasses(response.ItemClasses);
                    self.PaymentMethods(response.PaymentMethods);
                    self.CashAccounts([]);
                    self.TaxIds(response.TaxIds);
                    self.TaxCategories(response.TaxCategories);
                    self.TaxZones(response.TaxZones);

                    self.ShowDataEntry(true);
                    self.InitializePreferencesEditor();

                    // Pull selections
                    var ajax = new Monster.Ajax();
                    ajax.HttpGet("Config/PreferenceSelections", this);
                },
                function (response) {
                    self.SelectedStartingDate(response.ShopifyOrderDateStartFormatted);
                    self.ShopifyOrderNumberStart(response.ShopifyOrderNumberStart);

                    self.SelectedTaxId(response.AcumaticaTaxId);
                    self.SelectedTaxCategory(response.AcumaticaTaxCategory);
                    self.SelectedTaxZone(response.AcumaticaTaxZone);

                    var itemClass =
                        Monster.FindByField(
                            self.ItemClasses(), 'ItemClass', response.AcumaticaDefaultItemClass);

                    self.SelectedItemClass(itemClass);

                    var timeZone =
                        Monster.FindByField(
                            self.TimeZones(), 'TimeZoneId', response.AcumaticaTimeZone);

                    self.SelectedTimeZone(timeZone);

                    var paymentMethod =
                        Monster.FindByField(
                            self.PaymentMethods(), 'PaymentMethod', response.AcumaticaPaymentMethod);

                    self.SelectedPaymentMethod(paymentMethod);

                    self.SelectedCashAccount(response.AcumaticaPaymentCashAccount);
                });
        };

        self.SaveChangesClick = function (callback) {
            flow.exec(function() {
                    self.ShowValidation(true);
                    if (!self.IsValid()) {
                        return;
                    }

                    var model = {};

                    model.ShopifyOrderDateStart = self.SelectedStartingDate();
                    model.ShopifyOrderNumberStart = self.ShopifyOrderNumberStart();
                    model.AcumaticaTimeZone = self.SelectedTimeZone().TimeZoneId;
                    model.AcumaticaDefaultItemClass = self.SelectedItemClass().ItemClass;
                    model.AcumaticaDefaultPostingClass = self.SelectedPostingClass();

                    model.AcumaticaPaymentMethod = self.SelectedPaymentMethod().PaymentMethod;
                    model.AcumaticaPaymentCashAccount = self.SelectedCashAccount();

                    model.AcumaticaTaxZone = self.SelectedTaxZone();
                    model.AcumaticaTaxId = self.SelectedTaxId();
                    model.AcumaticaTaxCategory = self.SelectedTaxCategory();

                    var ajax = new Monster.Ajax();
                    ajax.HttpPost("Config/PreferenceSelections", model, this);
                },
                function() {
                    if (callback) {
                        callback();
                    }
                });
        }

        self.GotoNextStepClick = function() {
            self.SaveChangesClick(
                function () {
                    if (!self.IsValid()) {
                        return;
                    }

                    window.location.href = '@GlobalConfig.Url("Config/Warehouses")';
                });
        };

        return self;
    };

    var model = new Monster.PreferencesModel();
    model.Initialize();
    ko.applyBindings(model);
</script>

