@using Monster.Web.Plumbing
@model Monster.Web.Models.Preferences

<div class="center std-padding">
    <img style="width: 125px;" src="@GlobalConfig.Url("Content/ShopifySyncWithAcumatica.png")"/>
</div>

<hr/>
<h1 class="mt-5 center">Configuration</h1>
<p class="lead center">Please take a moment to review your configuration settings</p>

<p>Once Odysseus is running in real-time, it will automatically produce a large volume of work.
    Make sure everything is properly configured to get the results you want.</p>

<style>
    .preferences th, .preferences td { text-align: left; }
</style>

<div class="card text-center">
    <div class="card-body">
        <table class="table table-striped preferences">
            <tbody>
            <tr>
                <th style="width: 50%;" scope="row">DataPullStart</th>
                <td>@Model.DataPullStart</td>
            </tr>
            <tr>
                <th scope="row">ShopifyOrderPushStart</th>
                <td>@Model.ShopifyOrderPushStart</td>
            </tr>
            <tr>
                <th scope="row">FulfillmentSystem</th>
                <td>@Model.FulfillmentSystem</td>
            </tr>
            <tr>
                <th scope="row">DefaultCoGsMargin</th>
                <td>@Model.DefaultCoGsMargin</td>
            </tr>
            <tr>
                <th scope="row">AcumaticaDefaultItemClass</th>
                <td>@Model.AcumaticaDefaultItemClass</td>
            </tr>
            <tr>
                <th scope="row">AcumaticaDefaultPostingClass</th>
                <td>@Model.AcumaticaDefaultPostingClass</td>
            </tr>
            <tr>
                <th scope="row">AcumaticaPostingDate</th>
                <td>@Model.AcumaticaPostingDate</td>
            </tr>
            <tr>
                <th scope="row">AcumaticaTimeZone</th>
                <td>@Model.AcumaticaTimeZone</td>
            </tr>

            <tr>
                <th scope="row">AcumaticaPaymentMethod</th>
                <td>@Model.AcumaticaPaymentMethod</td>
            </tr>
            <tr>
                <th scope="row">AcumaticaPaymentCashAccount</th>
                <td>@Model.AcumaticaPaymentCashAccount</td>
            </tr>

            <tr>
                <th scope="row">AcumaticaTaxZone</th>
                <td>@Model.AcumaticaTaxZone</td>
            </tr>
            <tr>
                <th scope="row">AcumaticaTaxCategory</th>
                <td>@Model.AcumaticaTaxCategory</td>
            </tr>
            <tr>
                <th scope="row">AcumaticaTaxId</th>
                <td>@Model.AcumaticaTaxId</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>

<div class="center std-padding">
    <a href="@GlobalConfig.Url("Config/Warehouses")" 
       class="btn btn-success btn-lg">Go to Next Step
        <i class="fas fa-sign-in-alt"></i></a>
</div>
