@using Monster.Web.Plumbing

<style>
    .form-group label { font-weight: 700; }
    #payment-methods .form-group { height: 120px; }
</style>

<main role="main" class="medium-size">
    @Html.Partial("_TopBrand")

    <hr />
    <h1 class="mt-4 center">Configuration - Tax Settings</h1>
    <p class="lead center">
        Map your Shopify Payment Gateways to Acumatica Payment Methods.
    </p>

    <div data-bind="ifnot: IsRandomAccessMode">
        <p>
            The next step in configuration is to set your Payment Methods.
            For each Payment Gateway enabled in your Shopify store, 
            assign an Acumatica Payment Method to be used therewith.
        </p>
    </div>

    <div data-bind="template: { name: 'Payment-Methods-Editor' }"></div>
</main>


<script type="text/html" id="Payment-Methods-Editor">
    <div data-bind="if: ShowErrorMessage">
        <div class="std-pad">
            <div class="alert alert-danger">
                <strong>Acumatica Reference Data - Broken</strong><br />
                There's something wrong with your Acumatica reference data.
            </div>

            <p>
                Before configuring Payment Methods, your Acumatica reference data
                needs to be properly configured. You can address that now by
                <a href="@GlobalConfig.Url("Config/AcumaticaRefData")">
                    <strong>clicking here</strong>
                </a>.
            </p>
        </div>
    </div>

    <div data-bind="if: ShowDataEntry">
        <div class="card text-center">

            <!-- Tax Zone -->
            <div class="form-group">
                <label for="taxZone">Acumatica Tax Zone</label>

                <select class="form-control" id="taxZone"
                        data-bind="optionsCaption: 'Choose...',
                                        value: SelectedTaxZone,
                                        options: TaxZones"></select>

                <small id="taxZoneHelp"
                       class="form-text text-muted">
                    @GlobalConfig.AppName uses this selection for sales tax
                    in Sales Orders and Credit Memos.
                </small>

                <div class="error-message"
                     data-bind="if: ShowValidation() && !SelectedTaxZone()">
                    Please select a Tax Zone
                </div>
            </div>

            <!-- Tax Category -->
            <div class="form-group">
                <label for="taxCategory">Acumatica Tax Category</label>

                <select class="form-control" id="taxCategory"
                        data-bind="optionsCaption: 'Choose...',
                                        value: SelectedTaxCategory,
                                        options: TaxCategories"></select>

                <small id="taxCategoryHelp"
                       class="form-text text-muted">
                    @GlobalConfig.AppName uses this selection for sales tax
                    in Sales Orders and Credit Memos.
                </small>

                <div class="error-message"
                     data-bind="if: ShowValidation() && !SelectedTaxCategory()">
                    Please select a Tax Category
                </div>
            </div>

            <!-- Tax ID -->
            <div class="form-group">
                <label for="taxId">Acumatica Tax ID</label>

                <select class="form-control" id="taxId"
                        data-bind="optionsCaption: 'Choose...',
                                        value: SelectedTaxId,
                                        options: TaxIds"></select>

                <small id="taxIdHelp"
                       class="form-text text-muted">
                    @GlobalConfig.AppName uses this selection for sales tax
                    in Sales Orders and Credit Memos.
                </small>

                <div class="error-message"
                     data-bind="if: ShowValidation() && !SelectedTaxId()">
                    Please select a Tax ID
                </div>
            </div>


            <div class="card-footer text-muted">
                @GlobalConfig.AppName Preferences Editor
            </div>
        </div>

        <div style="height:45px;" data-bind="if: ShowErrorSummary" class="center error-message">
            One or more items are not valid. Please review and correct.
        </div>
    </div>

    <div class="std-pad-b center">
        <div data-bind="ifnot: IsRandomAccessMode">
            <a href="@GlobalConfig.Url("Config/Settings")" class="btn btn-secondary btn-lg">
                <i class="fas fa-undo"></i> Previous Step
            </a>

            <a href="#" data-bind="click: GotoNextStepClick" class="btn btn-success btn-lg">
                Next Step <i class="fas fa-sign-in-alt"></i>
            </a>
        </div>

        <div data-bind="if: IsRandomAccessMode">
            <a href="@GlobalConfig.DiagnosticsHome" class="btn btn-secondary btn-lg">
                Back to Diagnostics <i class="fas fa-undo"></i>
            </a>

            <a href="#" class="btn btn-primary btn-lg" data-bind="click: SaveChangesClick">
                Save Changes <i class="fas fa-bolt"></i>
            </a>
        </div>
    </div>
</script>

<script>
    var Monster = Monster || {};

    Monster.PaymentMethodsModel = function () {
        var self = this;

        self.ShowErrorMessage = ko.observable(false);
        self.ShowDataEntry = ko.observable(false);
        self.IsRandomAccessMode = ko.observable();

        // Reference data - Taxes
        //
        self.TaxIds = ko.observableArray();
        self.TaxCategories = ko.observableArray();
        self.TaxZones = ko.observableArray();

        self.SelectedTaxId = ko.observable();
        self.SelectedTaxCategory = ko.observable();
        self.SelectedTaxZone = ko.observable();


        self.PaymentMethods = ko.observableArray();
        self.CashAccounts = ko.observableArray(); // Updates when SelectedPaymentMethod changes

        // Selected options
        //
        self.SelectedPaymentMethod = ko.observable();
        
        self.SelectedPaymentMethod.subscribe(function () {
            if (self.SelectedPaymentMethod()) {
                self.CashAccounts(self.SelectedPaymentMethod().CashAccounts);
                if (!self.CashAccounts().length) {
                    self.SelectedCashAccount(null);
                }
            } else {
                self.CashAccounts.removeAll();
            }
        });

        // Validation

        self.IsValid = function() { return true; };

        self.ShowValidation = ko.observable(false);

        self.ShowErrorSummary = ko.computed(function () {
            return self.ShowValidation() && !self.IsValid();
        });

        // Initialization stuff
        self.Initialize = function () {
            flow.exec(
                function() {
                    var ajax = new Monster.Ajax();
                    ajax.HttpGet("Config/PaymentMethodStatus", this);
                },
                function (response) {
                    self.IsRandomAccessMode(response.IsRandomAccessMode);

                    if (response.IsBroken) {
                        self.ShowErrorMessage(true);
                        return;
                    }
                    
                    var ajax = new Monster.Ajax();
                    ajax.HttpGet("Config/PaymentMethodData", this);
                },
                function (response) {
                    //console.log(response);

                    self.PaymentMethods(response.PaymentMethods);
                    self.CashAccounts([]);
            
                    self.ShowDataEntry(true);
                    self.InitializePaymentMethodsEditor();

                    // Pull selections
                    var ajax = new Monster.Ajax();
                    ajax.HttpGet("Config/SettingsSelections", this);
                },
                function (response) {

                    var paymentMethod =
                        Monster.FindByField(
                            self.PaymentMethods(), 'PaymentMethod', response.AcumaticaPaymentMethod);

                    self.SelectedPaymentMethod(paymentMethod);
                    self.SelectedCashAccount(response.AcumaticaPaymentCashAccount);
                });
        };

        self.SaveChangesClick = function () {
            self.SaveChanges();
        }

        self.SaveChanges = function (callback) {
            flow.exec(function() {
                self.ShowValidation(true);
                if (!self.IsValid()) {
                    return;
                }

                var model = {};
                model.AcumaticaPaymentMethod = self.SelectedPaymentMethod().PaymentMethod;
                model.AcumaticaPaymentCashAccount = self.SelectedCashAccount();

                var ajax = new Monster.Ajax();
                ajax.HttpPost("Config/PaymentMethod", model, this);
            },
            function() {
                if (callback) {
                    callback();
                }
            });
        }

        self.GotoNextStepClick = function() {
            self.SaveChanges(
                function () {
                    if (!self.IsValid()) {
                        return;
                    }

                    window.location.href = '@GlobalConfig.Url("Config/Warehouses")';
                });
            };

        return self;
    };

    var model = new Monster.PaymentMethodsModel();
    model.Initialize();
    ko.applyBindings(model);
</script>

