@using Monster.Web.Plumbing


<main role="main" class="medium-size">

    @Html.Partial("_TopBrand")

    <hr />
    <h1 class="mt-4 center">Warehouse &amp; Location Mapping</h1>
    <p class="lead center">Synchronize your Acumatica Warehouses with Shopify Locations</p>

    <div data-bind="ifnot: BackgroundJobRunning">
        <div data-bind="if: WarehouseSyncState() == SystemState.None">
            <div class="std-pad">
                <div class="alert alert-warning" role="alert">
                    Each of your <strong>Shopify Location Names</strong> must match identifically
                    with one <strong>Acumatica Warehouse ID</strong>, and vice-versa.
                </div>

                <p>
                    In order to work properly, @GlobalConfig.AppName needs a one-to-one mapping between
                    all of your Shopify Locations and Acumatica Warehouses.
                    Luckily, @GlobalConfig.AppName will automatically detect if both systems
                    are properly in-sync, or not, and report the results to you.
                </p>
            </div>
        </div>

        <div data-bind="if: WarehouseSyncState() == SystemState.SystemFault">
            <div class="alert alert-danger">
                <strong>Warehouse Location Synchronization - System Fault</strong>
            </div>
            <p>
                Something went wrong while attempting to synchronize your
                Acumatica Warehouses and Locations. Please try re-running
                this process.
            </p>
        </div>

        <div data-bind="if: WarehouseSyncState() == SystemState.Ok">
            <div class="alert alert-info">
                <strong>Warehouse Location Synchronization - OK</strong>
            </div>

            <div data-bind="template: { name: 'Sync-State-Details' }"></div>
        </div>

        <div data-bind="if: WarehouseSyncState() == SystemState.Invalid">
            <div class="alert alert-danger">
                <strong>Warehouse Location Synchronization - Invalid</strong>
            </div>

            <div data-bind="template: { name: 'Sync-State-Details' }"></div>
        </div>
    </div>

    <div data-bind="if: BackgroundJobRunning">
        <div class="std-pad">
            <div class="card">
                <div class="card-body center std-pad">
                    <img style="width: 125px;" src="@GlobalConfig.Url("Content/throbber_12.gif")" />

                    <div style="height: 30px;"></div>

                    <p class="center">Please wait while @GlobalConfig.AppName synchronizes Warehouses and Locations.</p>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="center std-pad">
        <span data-bind="ifnot: IsRandomAccessMode">
            <a href="@GlobalConfig.Url("Config/Preferences")"
               class="btn btn-secondary btn-lg">
                <i class="fas fa-undo"></i> Previous Step
            </a>
        </span>

        <span data-bind="if: IsRandomAccessMode">
            <a href="@GlobalConfig.DiagnosticsHome"
               class="btn btn-secondary btn-lg">
                <i class="fas fa-undo"></i> Back to Diagnostics
            </a>
        </span>

        <a href="#" class="btn btn-primary btn-lg"
           data-bind="click: SynchronizeClick">
            Synchronize Now
            <i class="fas fa-bolt"></i>
        </a>

        <span data-bind="if: NextButtonVisible">
            <a href="@GlobalConfig.Url("Config/InventoryToAcumatica")"
               class="btn btn-success btn-lg">
                Next Step <i class="fas fa-sign-in-alt"></i>
            </a>
        </span>
    </div>
</main>


<script type="text/html" id="Sync-State-Details">
    <div data-bind="with: Details">
        <div class="card">
            <div class="card-body center std-pad">

                <div data-bind="if: MatchedWarehouseLocations.length">
                    <p>The following Location-Warehouse combinations successfully matched:</p>

                    <ul class="list-group"
                        data-bind="foreach: MatchedWarehouseLocations">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span data-bind="text: $data"></span>
                            <i class="fas fa-check"></i>
                        </li>
                    </ul>
                </div>

                <div data-bind="if: UnmatchedShopifyLocations.length ||
                                    UnmatchedAcumaticaWarehouses.length">
                    <div style="height: 40px;"></div>
                    <p>The following Locations and Warehouses could <strong>not</strong> be matched:</p>
                    <ul class="list-group">
                        <!-- ko foreach: UnmatchedShopifyLocations -->
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Shopify <span data-bind="text: $data"></span>
                            <i style="color: red;" class="fas fa-times"></i>
                        </li>
                        <!-- /ko -->
                        <!-- ko foreach: UnmatchedAcumaticaWarehouses -->
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Acumatica <span data-bind="text: $data"></span>
                            <i style="color: red;" class="fas fa-times"></i>
                        </li>
                        <!-- /ko -->
                    </ul>
                    <div class="alert alert-warning left" role="alert">
                        <strong>
                            ACTION STEPS: add, delete or rename Warehouses and Locations as needed
                            so that they map exactly. Then click re-run the synchronization process.
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script>
    var Monster = Monster || {};

    Monster.WarehouseConfigModel = function () {
        var self = this;

        self.BackgroundJobRunning = ko.observable();
        self.WarehouseSyncState = ko.observable();
        self.Details = ko.observable();
        self.IsRandomAccessMode = ko.observable();

        self.NextButtonVisible = ko.computed(function () {
            return !self.IsRandomAccessMode()
                && self.WarehouseSyncState() == SystemState.Ok;
        });

        self.SynchronizeClick = function () {
            var ajax = new Monster.Ajax();
            ajax.HttpPost("Config/SyncWarehouses", {}, self.PollStatus);
        };

        self.PollStatus = function () {
            flow.exec(
                function () {
                    var ajax = new Monster.Ajax();
                    ajax.DisablePopupsAndSpinners();
                    ajax.HttpGet("Config/WarehouseSyncStatus", this);
                },
                function (response) {
                    self.BackgroundJobRunning(response.IsBackgroundJobRunning);

                    if (self.BackgroundJobRunning()) {
                        setTimeout(self.PollStatus, 1000);
                    } else {
                        self.Complete(response);
                    }
                });
        };

        self.Complete = function (model) {
            self.Details(model.Details);
            self.WarehouseSyncState(model.WarehouseSyncState);
            self.BackgroundJobRunning(model.IsBackgroundJobRunning);
            self.IsRandomAccessMode(model.IsRandomAccessMode);

            //console.log(model);
        };

        self.Initialize = function () {
            self.PollStatus();
        };

        return self;
    };

    var model = new Monster.WarehouseConfigModel();
    model.Initialize();
    ko.applyBindings(model);
</script>

