@using Monster.Web.Plumbing
@model Monster.Web.Models.ShopifyAuth.ShopifyDomainModel

<main role="main" class="medium-size">
@Html.Partial("_TopBrand")
<hr />

<h1 class="mt-4 center">Configuration - Shopify</h1>
<p class="lead center">Connect @GlobalConfig.AppName to your Shopify Store</p>

<div class="card">
    <div class="card-body">
        <form action="@GlobalConfig.Url("/ShopifyAuth/Login")">
            <div class="form-group">
                
                <div style="height: 30px;"></div>

                <!-- Show this is the Connection is Broken - for either Wizard or Random modes -->
                @if (Model.IsConnectionBroken)
                {
                    <div class="alert alert-danger">
                        <strong>Shopify Connection - Broken</strong> -
                        @GlobalConfig.AppName connection to your shop is currently not working.
                        Please try reconnecting, and if it fails, contact our customer support team.
                    </div>
                }

                @if (Model.CanEditShopifyUrl)
                {
                    <p>Enter your Shopify store domain below and hit the "Connect to Shopify" button.</p>

                    <div class="alert alert-warning">
                        <strong>IMPORTANT</strong> - you'll only be able to set your Shopify store domain once.
                        If you want aim @GlobalConfig.AppName at a different store, you'll need a new instance.
                    </div>
                }
                else
                {
                    <p>
                        Your Shopify domain is already set for this instance. If you want to connect to a different shop,
                        contact us and we can easily provision a new @GlobalConfig.AppName instance for you.
                    </p>
                }

                @if (Model.CanEditShopifyUrl)
                {
                    <label for="shop">Shopify "myshopify.com" Domain</label>
                    <input type="text"
                           class="form-control"
                           id="shop"
                           name="shop"
                           value="@(GlobalConfig.DebugMode ? "onemoreteststorecanthurt" : "")"
                           placeholder="Enter yourshopname.myshopify.com">

                    <small id="shopifyUrlHelp" class="form-text text-muted">
                        E.G.: "tophats-for-all.myshopify.com" or "tophats-for-all""
                    </small>
                }
                else
                {
                    <input type="text"
                           class="form-control"
                           disabled="disabled"
                           id="shop"
                           name="shop"
                           value="@Model.ShopDomain">
                }
            </div>

            <div class="center">
                @if (!Model.IsWizardMode)
                {
                    <a href="@GlobalConfig.DiagnosticsHome" class="btn btn-secondary btn-lg">
                        Back to Diagnostics <i class="fas fa-undo"></i>
                    </a>
                }

                <button class="btn btn-primary btn-lg" type="submit">
                    Connect to Shopify <i class="fas fa-bolt"></i>
                </button>
            </div>
        </form>
    </div>
</div>

<div style="height: 30px;"></div>
</main>

