@using Monster.Web.Plumbing

@Html.Partial("_TopBrand")

<hr/>
<h1 class="mt-5 center">Configuration - Shopify</h1>
<p class="lead center">Connect @GlobalConfig.AppName to your Shopify Store</p>


<div class="alert alert-primary">
    <strong>Shopify Connection - Successful</strong> 
    - @GlobalConfig.AppName now has access to your Shopify store.
</div>

<p>The next step in setup will be to connect @GlobalConfig.AppName with your Acumatica instance,
    and to prepare your Acumatica instance for automated synchronization.</p>

<div class="center std-padding">
    <a href="@GlobalConfig.Url("Config/AcumaticaCreds")" 
       class="btn btn-success btn-lg">Go to Acumatica Configuration
        <i class="fas fa-sign-in-alt"></i>
    </a>
</div>

<script>


</script>