@model Monster.Web.Models.Sync.ImportIntoShopifyModel
@Html.Partial("_PagingWidget")

<script>
    Monster = Monster || {};

    Monster.TaxableCategory = '@Model.TaxableCategory';
    Monster.ExemptCategory = '@Model.ExemptCategory';
</script>

<main role="main" class="large-size">
    @Html.Partial("_TopBrand")

    @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/KO/ImportIntoShopify.html")))
</main>
