@using Monster.Middle.Hangfire
@using Monster.Web.Plumbing
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@GlobalConfig.AppName</title>
    <link rel="icon" href="@GlobalConfig.Url("favicon.ico")">

    <!-- CSS -->
    <link href="@GlobalConfig.Url("Content/bootstrap.css")" rel="stylesheet">
    <link href="@GlobalConfig.Url("Content/site.css")" rel="stylesheet">    
    <link rel="stylesheet" href="@GlobalConfig.Url("Content/all.css")">
    <link rel="stylesheet" href="@GlobalConfig.Url("Content/gijgo.min.css")">

    <!-- JavaScript -->
    <script>        
        // Constant configuration
        var Monster = Monster || {};
        Monster.BaseUrl = '@GlobalConfig.BaseUrl';

        var SystemState = SystemState || {};
        SystemState.None = @SystemState.None;
        SystemState.Ok = @SystemState.Ok;
        SystemState.Invalid = @SystemState.Invalid;
        SystemState.SystemFault = @SystemState.SystemFault;
    </script>

    @Scripts.Render("~/Scripts/jquery.min.js?tmp=" + Guid.NewGuid())
    @Scripts.Render("~/Scripts/flow.js?tmp=" + Guid.NewGuid())
    @Scripts.Render("~/Scripts/aQuery-1.0-min.js?tmp=" + Guid.NewGuid())
    @Scripts.Render("~/Scripts/AjaxFunctions.js?tmp=" + Guid.NewGuid())
    @Scripts.Render("~/Scripts/UtilityFunctions.js?tmp=" + Guid.NewGuid())
    @Scripts.Render("~/Scripts/knockout-3.4.2.js?tmp=" + Guid.NewGuid())
    @Scripts.Render("~/Scripts/gijgo.min.js?tmp=" + Guid.NewGuid())    
</head>

<body style="background-color: #EEE;">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
        <img src="@GlobalConfig.Url("Content/Logic-Automated-logo-horizontal-transparent-white.png")" width="130" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Configuration <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Documentation</a>
            </li>
        </ul>
        
        <span class="navbar-text text-white ml-auto">
            <a href="mailto:support@logicautomated.com">support@logicautomated.com</a>
                / 800-323-5992
        </span>
    </div>
</nav>
    <!-- Begin page content -->
    <div class="container" style="max-width: 940px;">
        <main role="main" 
              style="padding-left: 75px; padding-right: 75px; margin-top: 25px; padding-bottom:25px; background-color: white; box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            @RenderBody()
        </main>
    </div>

    <div class="container" style="text-align: center; padding-top: 30px;">
        <span style="color:#8c959d !important">
            <strong>@GlobalConfig.FullAppName</strong> - Powered by @GlobalConfig.Organization
        </span>
    </div>

    <div id="spinner-layer" class="spinner-layer" style="display: none;">
        <div id="spinner" class="spinner">
            <img id="img-spinner"
                 style="width: 80px; height: 80px;"
                 src="@GlobalConfig.Url("Content/spinner-new.gif")" />
        </div>
    </div>
</body>
</html>
