@using Monster.Web.Plumbing
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@GlobalConfig.AppName</title>
    <link rel="icon" href="@GlobalConfig.Url("favicon.ico")">

    @Html.Partial("_Dependencies")
    @Html.Partial("_CustomScripts")
    @Html.Partial("_SharedKnockoutViews")
</head>

<body style="background-color: #EEE;">

@Html.Partial("_Navigation")

<!-- Begin page content -->
<div class="container" style="max-width: 100%; padding-bottom: 25px; background-color: white; box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
    @RenderBody()
</div>

<!-- Footer -->
<div class="container" style="text-align: center; padding-top: 30px;">
    <span style="color: #8c959d !important">
        <strong>@GlobalConfig.FullAppName</strong> - Powered by @GlobalConfig.Organization
    </span>
</div>

<div id="spinner-layer" class="spinner-layer" style="display: none;">
    <div id="spinner" class="spinner">
        <img id="img-spinner"
             style="width: 80px; height: 80px;"
             src="@GlobalConfig.Url("Content/spinner-new.gif")"/>
    </div>
</div>
</body>
</html>
