@using Monster.Web.Plumbing

@Html.Partial("_SharedKnockoutViews")

@Html.Partial("_TopBrand")

<div>
    <div data-bind="ifnot: AreAnyJobsRunning">
        <div data-bind="if: ShowWelcomePanel">
            <div data-bind="template: { name: 'Inventory-Welcome-Panel' }"></div>
        </div>
        
        <div data-bind="if: ShowIntermediatePanel">            
            <div data-bind="template: { name: 'Inventory-Intermediate-Panel' }"></div>
        </div>
        
        <div data-bind="if: ShowSearchPanel">
            <div data-bind="template: { name: 'Inventory-Search-Panel' }"></div>
        </div>
    </div>

    <div class="medium-size" data-bind="if: AreAnyJobsRunning">
        <div class="card std-pad-sm">
            <div class="card-title-interface">
               Inventory Sync Control
            </div>

            <div class="card-body center">
                <div class="std-pad-sm">
                    <img style="width: 100px;" src="@GlobalConfig.Url("Content/throbber_12.gif")"/>
                </div>

                <p class="center">
                    @GlobalConfig.AppName is currently busy processing your inventory.<br/>
                    Depending on the size of your catalog, this process may take up to several hours.
                </p>

                <hr/>

                <div data-bind="template: { name: 'Execution-Logs', data: Logs() } "></div>
            </div>
        </div>
    </div>
</div>

<script id="Inventory-Welcome-Panel" type="text/html">
    <div class="medium-size">
        <hr/>
        <h1 class="mt-4 center">Inventory Sync Control</h1>
        <p class="lead center">Pull from Shopify and Acumatica to prepare for loading</p>

        <div class="card">
            <div class="card-body std-pad">
                <p>
                    @GlobalConfig.AppName will now pull your complete catalog of Products and Variants from Shopify,
                    and will pull all of your Stock Items from your Acumatica Instance.
                </p>

                <div class="alert alert-warning">
                    <strong>Important:</strong> Real-Time Sync will perform this step as well.
                    But, you will still need to load Stock Items into Shopify
                    and select which to enable for Inventory Synchronization.
                </div>
            </div>
        </div>

        <div class="center std-pad">
            <a href="#" class="btn btn-primary btn-lg"
                data-bind="click: InventoryPullClick">
                Synchronize Now <i class="fas fa-bolt"></i>
            </a>
        </div>
    </div>
</script>

<script id="Inventory-Intermediate-Panel" type="text/html">
    <div class="medium-size">
        <div class="card std-pad-sm">
            <div class="card-title-interface">
                Inventory Sync Control
            </div>
            
            <div class="card-body">
                <div data-bind="ifnot: LastInventoryRunHadErrors">
                    <div class="alert alert-info">
                        <strong>Pull Inventory from Shopify &amp; Acumatica - OK</strong>
                    </div>
                    
                    <p>Inventory was successfully pulled from both sources. The next step is to begin 
                        <a href="@GlobalConfig.Url("RealTime/ImportIntoAcumatica")">loading inventory into Shopify from Acumatica</a>. 
                        If you have an existing catalog in Shopify, you can 
                        <a href="@GlobalConfig.Url("RealTime/ImportIntoShopify")">import Products and Variants from Shopify into Acumatica</a>.                        
                    </p>

                    <p>In either case, you can come back to Inventory Sync Control to enable and disable synchronization.</p>

                    <div class="center std-pad-t">
                        <a href="@GlobalConfig.Url("RealTime/ImportIntoAcumatica")" 
                           class="btn btn-primary btn-lg">
                            Load from Acumatica to Shopify <i class="fa fa-upload" aria-hidden="true"></i>
                        </a>
                        <a href="@GlobalConfig.Url("RealTime/ImportIntoShopify")" 
                           class="btn btn-primary btn-lg">
                            Import from Shopify <i class="fa fa-upload" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                
                <div data-bind="if: LastInventoryRunHadErrors">
                    <div class="alert alert-danger">
                        <strong>Pull Inventory from Shopify &amp; Acumatica - Failed</strong>
                    </div>

                    <p>
                        Something went wrong while running this process. You may consider reviewing your 
                        <a href="@GlobalConfig.Url("Config/Diagnostics")">configuration diagnosis</a>
                        before re-running. If issue persists, contact support.
                    </p>
                    
                    <div class="center std-pad-t">
                        <a href="#" class="btn btn-primary btn-lg"
                           data-bind="click: InventoryPullClick">
                            Synchronize Now <i class="fas fa-bolt"></i>
                        </a>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</script>

<script id="Inventory-Search-Panel" type="text/html">
    <div class="large-size">
        <div class="card std-pad-sm">
            <div class="card-title-interface">
                Inventory Sync Control
            </div>

            <div class="center std-pad-sm-t">
                <button type="button" class="btn btn-primary btn-sm" data-bind="click: InventoryPullClick">
                    Refresh Inventory <i class="fas fa-bolt"></i>
                
                    <span data-bind="if: LastInventoryRunHadErrors">
                        <span class="badge badge-dark">FAILED</span>
                    </span>
                </button>
                <span data-bind="if: LastInventoryRunHadErrors">
                    <a href="@GlobalConfig.Url("Config/Diagnostics")"
                       class="btn btn-dark btn-sm">
                        View Diagnostics
                        <i class="fas fa-user-md"></i>
                    </a>
                </span>
            </div>
    
            <!-- Filtering -->
            <div class="card-body">
                <div class="input-group mb-3">                   
                    <input type="text" class="form-control" 
                           placeholder="Enter Product Title, Variant Title, Item Id, Description, Vendor, Product Type" 
                           aria-label="Enter Product Title, Variant Title, Item Id, Description, Vendor, Product Type">
                    
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button">
                            Filter Inventory
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>

                <div class="center" style="font-size:0.8em;">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" 
                               type="radio" 
                               name="filterOptions" 
                               id="inlineRadio1" 
                               value="option1">
                        <label class="form-check-label" for="inlineRadio1">All Inventory</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" 
                               type="radio" 
                               name="filterOptions" 
                               id="inlineRadio2" 
                               value="option2">
                        <label class="form-check-label" for="inlineRadio2">With Sync Enabled Only</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" 
                               type="radio" 
                               name="filterOptions" 
                               id="inlineRadio3" 
                               value="option3" disabled>
                        <label class="form-check-label" for="inlineRadio3">With Sync Disabled Only</label>
                    </div>
                </div>
            </div>        
            
            <hr />

            <!-- Results -->
            <div style="padding-left:30px;padding-right:30px;">
                <div>
                    <div class="btn-group" 
                         style="float:right;"
                         role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-sm btn-secondary">
                            Select All <i class="fas fa-check-square"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-secondary">
                            Unselect All <i class="fas fa-minus-square"></i>
                        </button>
                    </div>
                    <div role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-sm btn-primary">
                            Enable Selected <i class="fas fa-toggle-on"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-primary">
                            Disable Selected <i class="fas fa-toggle-off"></i>
                        </button>
                    </div>
                </div>

                <div style="clear:both; height:15px;"></div>
                
                <div data-bind="template: { name: 'Inventory-Sync-Grid' }"></div>
            </div>
        </div>
    </div>
</script>


<script id="Inventory-Sync-Grid" type="text/html"> 
    <style>
        .sync-grid td {
            vertical-align: middle;
            font-size:0.84em;
            background-color: #FFFFFF;
        }
    </style>    
    
    <div style="min-height:600px;  display:none; padding-top:200px;" class="empty-grid">
        <h1>No Products match your criteria</h1>
        <p class="lead center">Only Shopify Product-Variants matched with Stock Items will appear</p>
    </div>
    
    <div style="min-height:600px;" class="grid-bg">
        <table class="table sync-grid">
            <tbody>
            <tr>
                <td style="padding-left:0;">
                    <!-- Rounded switch -->
                    <div style="text-align:center; margin-right:auto; margin-left:0; width:60px;">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                        <div style="font-size:0.8em; font-weight:700; color:#a9a9a9">ENABLED</div>
                    </div>
                </td>
                <td>
                    <div>MED-123-RED - Default Title</div>
                    <div>Test Product from Outerspace</div>
                    <div style="color:#a9a9a9; font-size:0.8em;">VId: 123489080485 PId: 237712220288</div>
                    <div><a href="#">(Click here to view in Shopify)</a></div>
                </td>
                <td>
                    <div>MED-123-RED</div>
                    <div>Test Product from Outerspace</div>
                    <div><a href="#">(Click here to view in Acumatica)</a></div>
                </td>
                <td style="text-align:right; padding-right:0; font-size:14px;">
                    <a href="#" class="badge badge-primary" style="padding:10px;">SELECTED</a>
                </td>
            </tr>
            
            <tr>
                <td style="padding-left:0;">
                    <!-- Rounded switch -->
                    <div style="text-align:center; margin-right:auto; margin-left:0; width:60px;">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                        <div style="font-size:0.8em; font-weight:700; color:#a9a9a9">ENABLED</div>
                    </div>
                </td>
                <td>
                    <div>MED-123-RED - Default Title</div>
                    <div>Test Product from Outerspace</div>
                    <div style="color:#a9a9a9; font-size:0.8em;">VId: 123489080485 PId: 237712220288</div>
                    <div><a href="#">(Click here to view in Shopify)</a></div>
                </td>
                <td>
                    <div>MED-123-RED</div>
                    <div>Test Product from Outerspace</div>
                    <div><a href="#">(Click here to view in Acumatica)</a></div>
                </td>
                <td style="text-align:right; padding-right:0; font-size:14px;">
                    <a href="#" class="badge badge-primary" style="padding:10px;">SELECTED</a>
                </td>
            </tr>
            
            <tr>
                <td style="padding-left:0;">
                    <!-- Rounded switch -->
                    <div style="text-align:center; margin-right:auto; margin-left:0; width:60px;">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                        <div style="font-size:0.8em; font-weight:700; color:#a9a9a9">ENABLED</div>
                    </div>
                </td>
                <td>
                    <div>MED-123-RED - Default Title</div>
                    <div>Test Product from Outerspace</div>
                    <div style="color:#a9a9a9; font-size:0.8em;">VId: 123489080485 PId: 237712220288</div>
                    <div><a href="#">(Click here to view in Shopify)</a></div>
                </td>
                <td>
                    <div>MED-123-RED</div>
                    <div>Test Product from Outerspace</div>
                    <div><a href="#">(Click here to view in Acumatica)</a></div>
                </td>
                <td style="text-align:right; padding-right:0; font-size:14px;">
                    <a href="#" class="badge badge-primary" style="padding:10px;">SELECTED</a>
                </td>
            </tr>
            <tr>
                <td style="padding-left:0;">
                    <!-- Rounded switch -->
                    <div style="text-align:center; margin-right:auto; margin-left:0; width:60px;">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                        <div style="font-size:0.8em; font-weight:700; color:#a9a9a9">ENABLED</div>
                    </div>
                </td>
                <td>
                    <div>MED-123-RED - Default Title</div>
                    <div>Test Product from Outerspace</div>
                    <div style="color:#a9a9a9; font-size:0.8em;">VId: 123489080485 PId: 237712220288</div>
                    <div><a href="#">(Click here to view in Shopify)</a></div>
                </td>
                <td>
                    <div>MED-123-RED</div>
                    <div>Test Product from Outerspace</div>
                    <div><a href="#">(Click here to view in Acumatica)</a></div>
                </td>
                <td style="text-align:right; padding-right:0; font-size:14px;">
                    <a href="#" class="badge badge-primary" style="padding:10px;">SELECTED</a>
                </td>
            </tr>
            <tr>
                <td style="padding-left:0;">
                    <!-- Rounded switch -->
                    <div style="text-align:center; margin-right:auto; margin-left:0; width:60px;">
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                        </label>
                        <div style="font-size:0.8em; font-weight:700; color:#a9a9a9">ENABLED</div>
                    </div>
                </td>
                <td>
                    <div>MED-123-RED - Default Title</div>
                    <div>Test Product from Outerspace</div>
                    <div style="color:#a9a9a9; font-size:0.8em;">VId: 123489080485 PId: 237712220288</div>
                    <div><a href="#">(Click here to view in Shopify)</a></div>
                </td>
                <td>
                    <div>MED-123-RED</div>
                    <div>Test Product from Outerspace</div>
                    <div><a href="#">(Click here to view in Acumatica)</a></div>
                </td>
                <td style="text-align:right; padding-right:0; font-size:14px;">
                    <a href="#" class="badge badge-primary" style="padding:10px;">SELECTED</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</script>


<script>
    var Monster = Monster || {};

    Monster.InventoryConfigModel = function () {
        var self = this;

        self.AreAnyJobsRunning = ko.observable();
        self.Logs = ko.observableArray();
        self.InventoryPullState = ko.observable();

        // DEPRECATED - Unnecessary - populate the grid!
        self.HasMatchedInventory = ko.observable();

        // Abstract logic reduction
        //
        self.HasInventoryPullRun = ko.computed(function() {
            return self.InventoryPullState() != SystemState.None;
        });

        self.LastInventoryRunHadErrors = ko.computed(function() {
            return self.InventoryPullState() == SystemState.Invalid ||
                self.InventoryPullState() == SystemState.SystemFault;
        });


        // Interface logic reduction
        //
        self.ShowWelcomePanel = ko.computed(function() {
            return !self.HasInventoryPullRun();
        });

        self.ShowIntermediatePanel = ko.computed(function() {
            return self.HasInventoryPullRun() && !self.HasMatchedInventory();
        });

        self.ShowSearchPanel = ko.computed(function () {
            return self.HasInventoryPullRun() && self.HasMatchedInventory();
        });
        

        // Methods/Actions
        //
        self.InventoryPullClick = function () {
            var ajax = new Monster.Ajax();
            ajax.HttpPost("RealTime/RunInventoryPull", {}, self.PollStatus);
        };

        self.PollStatus = function () {
            flow.exec(
                function () {
                    var ajax = new Monster.Ajax();
                    ajax.DisablePopupsAndSpinners();
                    ajax.HttpGet("RealTime/StatusForAllInventoryJobs", this);
                },
                function (response) {
                    self.AreAnyJobsRunning(response.AreAnyJobsRunning);
                    self.Logs(response.Logs);
                    self.InventoryPullState(response.SystemState);

                    if (self.AreAnyJobsRunning()) {
                        setTimeout(self.PollStatus, 1000);
                    } else {
                        self.ProcessStatus();
                    }
                });
        };

        self.ProcessStatus = function () {
            // Deprecated
            self.HasMatchedInventory(true);

            // REFRESH THE GRID
            // #1 Pull down all of the synced Inventory
            // #2 Store results in Grid
            // #3 Make Grid visible
        };
        
        self.Initialize = function () {
            self.PollStatus();
        };

        return self;
    };

    var model = new Monster.InventoryConfigModel();
    model.Initialize();
    ko.applyBindings(model);
</script>

