@using Monster.Web.Plumbing

<main role="main" class="medium-size">
    <div class="center" style="padding-top: 40px; padding-bottom:20px">
        <img style="width: 225px;"
             src="@GlobalConfig.Url("Content/Bridge-logo-1-smaller.jpg")" />
    </div>

    <hr />

    <h1 class="mt-4 center">Welcome to @GlobalConfig.AppName!</h1>

    <div class="center top-tagline">
        <p class="lead center">Cloud-based Shopify-to-Acumatica Synchronization</p>
    </div>
    
    <div class="card">
        <div class="card-body">

            <div class="center" style="padding: 15px;">
               
                <p style="text-align: justify">
                    Welcome to @GlobalConfig.AppName, the 100% cloud-based, 
                    automated Shopify-to-Acumatica synchronization tool.
                </p>

                <p>
                    @GlobalConfig.AppName has been carefully designed to maximize your autonomy
                    by making ERP integration as easy and pain-free as possible.
                </p>

                <a href="@GlobalConfig.Url("ShopifyAuth/Domain")"
                   class="btn btn-primary btn-lg">
                    Let's Get Started <i class="fas fa-sign-in-alt"></i>
                </a>
            </div>
        </div>
    </div>

    <div style="height: 30px;"></div>
</main>
